<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdea.spring.member.MemDAO">
	<insert id="memregist" parameterType="org.kdea.spring.member.MemberVO">
        insert into sgpmember (mnum, id, nick, name, email) 
        	values ( mem_seq.nextval, #{id}, #{nick}, #{name}, #{email} )
    </insert>
    <insert id="pwregist" parameterType="org.kdea.spring.member.MemberVO">
        insert into pwcondition (mnum,pwd,temp) 
        	values ( #{mnum}, #{pwd}, #{temp})
    </insert>
	<select id="getMnum"  resultType="java.lang.Integer">
		select mnum from sgpmember where id=#{id}
	</select>
	
	<select id="idCheck"  resultType="java.lang.Integer">
		select count(*) from sgpmember where id=#{id}
	</select>
	<select id="nickCheck" resultType="java.lang.Integer">
		SELECT count(*) from sgpmember where nick=#{nick}
	</select>
</mapper>